In [22]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
import warnings
warnings.simplefilter('ignore')

In [23]:
Location = r'D:\git-project\project1\titanic.csv'
index_col = 'PassengerId'
data = pd.read_csv(Location) 
chooseData = np.array(['Pclass', 'Fare', 'Age', 'Sex'])

In [24]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None

In [25]:
del data['Parch']
del data['Name']
del data['SibSp']
del data['Ticket']
del data['Cabin']
del data['Embarked']
del data['PassengerId']
data

     Survived  Pclass     Sex   Age      Fare
0           0       3    male  22.0    7.2500
1           1       1  female  38.0   71.2833
2           1       3  female  26.0    7.9250
3           1       1  female  35.0   53.1000
4           0       3    male  35.0    8.0500
5           0       3    male   NaN    8.4583
6           0       1    male  54.0   51.8625
7           0       3    male   2.0   21.0750
8           1       3  female  27.0   11.1333
9           1       2  female  14.0   30.0708
10          1       3  female   4.0   16.7000
11          1       1  female  58.0   26.5500
12          0       3    male  20.0    8.0500
13          0       3    male  39.0   31.2750
14          0       3  female  14.0    7.8542
15          1       2  female  55.0   16.0000
16          0       3    male   2.0   29.1250
17          1       2    male   NaN   13.0000
18          0       3  female  31.0   18.0000
19          1       3  female   NaN    7.2250
20          0       2    male  35.0   26.0000
21          1       2    male  34.0   13.0000
22          1       3  female  15.0    8.0292
23          1       1    male  28.0   35.5000
24          0       3  female   8.0   21.0750
25          1       3  female  38.0   31.3875
26          0       3    male   NaN    7.2250
27          0       1    male  19.0  263.0000
28          1       3  female   NaN    7.8792
29          0       3    male   NaN    7.8958
..        ...     ...     ...   ...       ...
861         0       2    male  21.0   11.5000
862         1       1  female  48.0   25.9292
863         0       3  female   NaN   69.5500
864         0       2    male  24.0   13.0000
865         1       2  female  42.0   13.0000
866         1       2  female  27.0   13.8583
867         0       1    male  31.0   50.4958
868         0       3    male   NaN    9.5000
869         1       3    male   4.0   11.1333
870         0       3    male  26.0    7.8958
871         1       1  female  47.0   52.5542
872         0       1    male  33.0    5.0000
873         0       3    male  47.0    9.0000
874         1       2  female  28.0   24.0000
875         1       3  female  15.0    7.2250
876         0       3    male  20.0    9.8458
877         0       3    male  19.0    7.8958
878         0       3    male   NaN    7.8958
879         1       1  female  56.0   83.1583
880         1       2  female  25.0   26.0000
881         0       3    male  33.0    7.8958
882         0       3  female  22.0   10.5167
883         0       2    male  28.0   10.5000
884         0       3    male  25.0    7.0500
885         0       3  female  39.0   29.1250
886         0       2    male  27.0   13.0000
887         1       1  female  19.0   30.0000
888         0       3  female   NaN   23.4500
889         1       1    male  26.0   30.0000
890         0       3    male  32.0    7.7500

[891 rows x 5 columns]

In [28]:
data = data.dropna()

In [29]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 5 columns):
Survived    714 non-null int64
Pclass      714 non-null int64
Sex         714 non-null object
Age         714 non-null float64
Fare        714 non-null float64
dtypes: float64(2), int64(2), object(1)
memory usage: 33.5+ KB
None

In [30]:
target = data['Survived'].values
features = data[ ['Pclass', 'Fare', 'Age', 'Sex'] ].as_matrix()

In [33]:
for i in range(714):
    if features[i][3] == "female":
        features[i][3] = 0
    else:
        features[i][3] = 1

In [40]:
clf = DecisionTreeClassifier(random_state=241)
clf.fit(features, target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=241, splitter='best')

In [42]:
importances = clf.feature_importances_
print(importances)

[ 0.14000522  0.30343647  0.2560461   0.30051221]